{{outlet}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Super Store App</h2>
  <p>
    This super site is an experimental service to test emberJS functionality...
  </p>
  {{#link-to 'contact' class="button"}}
    Contact with me
  {{/link-to}}
</div>