{{outlet}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact with me</h2>
  <p>If you need any more information about my applications, feel free to contact with me.</p>
  <p>
    GITHUB
    <address>
      <a href="https://www.github.com/reqv" target="_blank">github.com/reqv</a><br />
      My GitHub page.
    </address>
  </p>
  {{#link-to 'about' class="button"}}
    About this page
  {{/link-to}}
</div>