<img style="display: block; margin: 0 auto; max-width: 300px; max-height: 300px;" src="assets/images/teaching.png" alt="Tomster" />
<h3 style="text-align: center;">Sorry, the page you are looking for is not here</h3><br />
{{#link-to 'index' class='button'}} &larr; Back to main page{{/link-to}}

{{outlet}}
