<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to StoreApp!</h2>
  <p>We hope you find exactly what you are looking for!</p>
  {{#link-to 'about' class="button"}}
    About me
  {{/link-to}}
</div>

{{#list-filter filter=(action 'filterByName') as |prods|}}
  <ul class="result">
  {{#each prods as |productUnit|}}
    <li>{{product-listing pro=productUnit}}</li>
  {{/each}}
  </ul>
{{/list-filter}}