<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to StoreApp!</h2>
  <p>We hope you find exactly what you are looking for!</p>
  {{#link-to 'about' class="button"}}
    About me
  {{/link-to}}
</div>
{{outlet}}